{
  "extends": ["stylelint-config-recommended-vue", "stylelint-config-recommended", "stylelint-config-standard"],
  "ignoreFiles": [
    "node_modules/**/*",
    "dist/**/*"
  ],
  "rules": {
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["thumb", "track"]
      }
    ]
  }
}