@import "variables.css";
@import "motion.css";

/* helper class sheets */
@import "color-classes.css";
@import "utility-classes.css";

.holo-root {
  --system-fonts-fallback:
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    segoe ui,
    roboto,
    helvetica neue,
    arial,
    noto sans,
    sans-serif;

  font-family: var(--text-font, var(--system-fonts-fallback));
  -webkit-font-smoothing: antialiased;
}

.holo-root h1,
.holo-root h2 {
  font-family: var(--display-font, var(--system-fonts-fallback));
  text-transform: uppercase;
}
