/* Holo's default style variables */

/* =========================== Holographic Dark ============================ */
.holo-root,
.holo-root[data-holo-theme="holographic-dark"] {
  /* Typography ------------------------------------------------------------ */

  /* -> Font families */
  --text-font: ibm plex sans;
  --display-font: josefin sans;

  /* Colors ---------------------------------------------------------------- */

  /* -> Base colors (near neutral) */
  --background: 212deg 20% 10%;
  --foreground: 0deg 0% 95%;

  /* -> Distinctive colors (override with brand colors) */
  --primary: 0deg 0% 95%;
  --accent: 212deg 65% 85%;

  /* -> Informative colors (take care to keep the meaning) */
  --highlight: 212deg 78% 68%;
  --okay: 151deg 66% 62%;
  --caution: 21deg 100% 68%;
  --destructive: 345deg 78% 62%;

  /* <3 -------------------------------------------------------------------- */
}
